$font-stack: Helvetica, sans-serif
$font-color: #3c412f

$primary: #19af0c
$secondary: #ffffff
$dark: #20232a
$background: #f2f4f7    




body
    font: 100% $font-stack
    color: $font-color

.container
    padding: 15px 10% 15px 10%
    
    background-color: $background

.gamecard
    background-color: $secondary
    border-radius: 3%
    border: solid $secondary
    height: 160px
    width: 220px

.header
    background-color: $dark